 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map-canvas {
	height: 100%;
	margin-left: 200px;
	padding-left: 20px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
  #tools{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/* background-color: #111; */
	overflow-x: hidden;
  }